<link href="<%= assetPath('css/chatbox.css') %>" rel="stylesheet">


<%if(locals.user){%>

<div id="user-chat-box">
  <div class="toggle-chat d-flex align-items-center justify-content-center bg-blue" id="toggle-chat">
    Open Chat
  </div>



  <div class="d-none" id="chat-box">
    <!-- <% for(friend of locals.user.friendships){%>
    <ul class="online-friends">
      <li class="d-flex justify-content-center align-items-center" class="chat-with">
        <% if(locals.user.id == friend.from_user.id) { %>
        <p class="m-0"><%= friend.to_user.name %></p>
        <%}else {%>
        <p class="m-0">hi, <%= friend.from_user.name %></p>
        <%}%>
      </li>
    </ul>

    <%}%> -->

    <ul id="chat-message-list">

      <!-- <li class="chat-user"></li>
      <li class="chat-friend"></li> -->


    </ul>
    <div id="chat-message-input-container" class="w-100 d-flex">
      <input id="chat-message-input" class="w-75 chat-input" placeholder="Type message here">
      <button id="send-message" class="w-25 chat-send bg-success">Send</button>
    </div>
  </div>

</div>
<script>
  $('#toggle-chat').click(function () {
    $('#chat-box').toggleClass('d-none')
    if (!$('#chat-box').hasClass('d-none')) {
      $(this).html('Close Chat')
    } else {
      $(this).html('Open Chat')
    }
  })
</script>
<%}%>