<link href="/css/chatbox.css" rel="stylesheet">


<%if(locals.user){%>
<div id="user-chat-box">
  <!-- <% for(friend of locals.user.friendships){%>
  <% if(locals.user.id == friend.from_user.id) { %>
  <p><%= friend.to_user.name %></p>

  <%}else {%>
  <p>hi, <%= friend.from_user.name %></p>

  <%}%>
  <%}%> -->
  <ul id="chat-message-list">
    <li class="friend">
      <p>Other Message</p>
    </li>
    <li class="user">
      <p>My Message</p>
    </li>

  </ul>
  <div id="chat-message-input-container" class="w-100 d-flex">
    <input id="chat-message-input" class="w-75 chat-input" placeholder="Type message here">
    <button id="send-message" class="w-25 chat-send bg-success">Send</button>
  </div>
</div>
<%}%>