<header id="header">
  <a href="/" class="logo"><p class="social">Social</p></a>
  <ul class="login">
    <% if (locals.user) {%>
      <li class="user-name"><a href="/users/profile/<%= user.id %>">Hi, <%=  user.name %> </a></li>
      <li><a href="/users/sign-out">Sign Out</a> </li>
    <% }else{ %>
      <li><a href="/users/sign-in">Sign In</a></li>
      <li><a href="/users/sign-up">Sign Up</a></li>
    <% } %>
  </ul>
</header>