#user-chat-box{

  position: fixed;
  bottom: 0;
  right:10px;
  width:350px;
  border:1px solid gray;
  background: #fff;
  // form{
  //   margin: 0;
  //   input{
  //     margin:0;
  //     border:0!important;
  //   }
  //   .chat-send{
  //     // background: #0070DF;
  //     color: white;
  //     border:0!important;

  //   }
  // }
  #chat-message-list{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    .friend,.user{
      
      p{
        overflow-wrap: break-word;
        width: 100%;
      }
     
      height: auto;
      width:45%;
      background: #46E3FF;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      padding:10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p{
        margin: 0;
      }
      p.name{
        font-size: 12px;
        
      }
    }
    .friend{
      margin-left: 20px;
      background: #FF8080;
    }
    .user{
      margin-right: 20px;
      // background: #46E3FF;
      align-self: flex-end;
    }
  }
  #chat-message-input-container{
    height:50px;
    // .chat-input{
    //   width: 75%;
    // }
    border:1px solid gray;
    input{
      border:0;

    }
    .chat-send{
      border:0;

      color: white;
    }
  }

  #toggle-chat{
    width: 100%;
    height:40px;
    cursor: pointer;    
  }
  .online-friends{
    li{
      width: 100%;
      background: whitesmoke;
      border-top: 1px solid #e0e0e0;
      padding:10px;
    }
  }
}

#chat-message-list{

}