
#home{
  display: flex;
  justify-content: space-between;
  #feed-posts{
    margin-left:25%;
    width: 45%;
    // margin: auto;
  
  }
  
  .create-post{
    background-color: #fff;
    text-align: center;
    padding:20px;
  }
  
  // #posts-list-container{
  //   li{
  //     font-size: 30px;
  //   }
  // }
  
  #new-post-form{
    background-color: #fff;
  }
  
  .post{
    border:1px solid #e0e0e0;
    margin:10px auto;
    background: #fff;
    .post-content{
      .created{
        font-size: 14px;
        color: #7c7c7c
      }
      // display: flex;
      // align-items: center;
      font-size: 25px;
      text-align: left;
      padding:30px 10px;
    }
  }

  .post-comment{
    text-align: center;
  
    border-top:1px solid #e0e0e0;
  
    form{
      margin: 0;
      input{
        margin:0;
        height:50px;

        min-width: 20%;
      }
      display: flex;
      justify-content: center;
    }
    .write-comment{
      width: 80%;
    }
    // .submit-comment{
    //   width: 20%;
    // }
  }

  
  .comments-list{
    li{
      border-top:1px solid #e0e0e0;
      display: flex;
      padding:10px;
      align-items: center;
      // justify-content: space-between;
      // a{
      //   flex:1;
      //   // align-self: flex-start;
      // }
      p{
        margin-bottom: 0;
      }
    }
  }
}

.user-friends{
  width:25%;
  padding:20px;
  li{
    padding:20px 0px;
  }
  .profile-pic{
    height:50px!important;
    width:50px;

  }
}

.profile-pic{
  height:45px;
  width: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width:1200px){
  #layout-main{
    padding:50px 20px;
   
  }
  .user-friends{
    padding-right: 0;
    margin-left: 10%;
  }
  #home #feed-posts {
    margin-left: 15%;
    width: 55%;

    max-width: 450px;
  }
}

@media (max-width:680px){
  #home {
    #feed-posts #new-post-form textarea {
    max-width: 250px!important;
    }
  }
  #header{
    .login{
      a{
        font-size: 22px;
      }
    }
    .social{
      font-size: 27px;
      font-weight: bold;
    }
  }
  .toggle-like-button{
    font-size: 15px;;
  }


  #user-chat-box{
    #chat-message-input-container{
      height:35px!important;
    }
    width: 100%!important;
    right:0!important;
    #toggle-chat{
      height: 30px!important;
    }
  } 


  .toggle-friends{
    display: block!important;
    position: fixed;
    top:45px;
    right: 0;
    z-index: 999;
    background: rgba(0, 112, 223,0.6);
    color: white;
  }
  .toggle-friends.opened{
    top:0
  }
  .post{
    p{
      font-size: 18px;
    }
    small{
      font-size: 15px;
    }
    .comments-list{
      p{
        font-size: 16px;
      }
      small{
        font-size: 12px;;
      }
    }
  }
  h1,h4{
    font-size: 20px;
  }
  #layout-main{
    padding:50px 10px;
  }
  #home #feed-posts {
    margin: auto;
    width: 100%;
    max-width: 450px;
    #new-post-form{
      textarea{
        max-width:200px
      }
    }
  }
  .user-friends{
    .friends-list{
      padding-top: 50px;;
    }
    position: fixed;
    text-align: center;
    color: white;
    top:0;
    right: 0;
    width:120px!important;
    padding:5px;
    height:100%;
    overflow: scroll;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    ul{
      li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          margin:0
        }
        a{
          font-size: 15px;
          text-align: center;
          color: white;
        }
      }
    }
  }
}


@media (min-width:680px){
  .user-friends{
    display: block!important;
    max-width: 250px;;
  }
  .home-all-users,.my-friends{
    max-height:400px;
    overflow-y: auto;
    
  }
  .frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    background-color: #cacaca;
    width: 8px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 10px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    // background-color: #cacaca;
    background-color: rgba(150, 150, 150, .6);
}
}



