<div style="background:#439e19">
  <h3>Hi, <%= comment.user.name%></h1>
  <br>
  <br>
  <p>Your comment <strong><%= comment.content %></strong> is published on Social!</p>
  <br>
  <br>
  <p>Thanks!</p>
</div>