#chatbox {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 300px;
  border: 1px dotted #464646;
  padding-top: 30px; }
  #chatbox form {
    margin: 0; }
    #chatbox form input {
      margin: 0; }
    #chatbox form .chat-send {
      color: white; }
  #chatbox #chat-message-list {
    height: 300px;
    overflow-y: scroll; }
    #chatbox #chat-message-list .friend, #chatbox #chat-message-list .user {
      width: 45%;
      min-height: 50px;
      margin-bottom: 20px; }
    #chatbox #chat-message-list .friend {
      margin-left: 20px;
      background: #FF8080; }
    #chatbox #chat-message-list .user {
      margin-right: 20px;
      background: #46E3FF; }
